*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, sans-serif;
    background-color:white;

}
header{
    background-color:#773300;
    color:white;
    text-align:center;
    padding:1em;
}
.img-perfil{
    width:10%;
    border-radius:70%;
}
footer{
    background-color:#773300;
    color:white;
    text-align:center;
    padding:1em;
}

.conteudo{
    background-color:white !important;
    padding:2em !important;
    margin-top:1em !important;
    border-radius:30px !important;
    width:90%;
}
a{
    text-decoration:none !important;
    color:black;

}
main{
    margin-left:30% !important;
    margin-right:30% !important;
    margin: top 1% !important;
    margin-bottom: 20% !important;
}
.img-icone{
    width:110% !important;
}
.txt-icone{
    font-size:200%;
}

@media(min-width:200px) and (max-width: 768px){
    .img-icone{
        width:250% !important;
    }

    .txt-icone{
    font-size:100%;
    }
    .conteudo{
        background-color:white !important;
        padding:1em !important;
        margin-top:2em !important;
        border-radius:10px !important;
        width:130%;
    }
    main{
        text-align:center;
        margin-left:10% !important;
        margin-right:30% !important;
        margin: top 1% !important;
        margin-bottom: 50% !important;
    }
}